

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<nav class="navbar navbar-dark " >
    <div class="navbar1">Home</div><a class="navbar1" style="text-decoration: none;" href="/products" >Products</a>
    <a class="navbar1" style="text-decoration: none;" href="/user"  *ngIf="canAddProduct()" >User</a>
    <a href="javascript:void(0);" class="navbar1" style="text-decoration: none;" *ngIf="!getToken()" (click)="doLogout()">Logout</a>
    <a class="navbar1" style="text-decoration: none;" href="/login" *ngIf="getToken()">Login</a>
    <div  style="right: 0px; color: aliceblue; position: absolute;">{{this.data}}</div>
  </nav>
<router-outlet></router-outlet>
